@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
	font-family: 'Nunito', sans-serif;
	color: #0F2167;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d7c1a4;
	/* background: rgb(231, 161, 165);
	background: linear-gradient(194deg, rgb(231, 161, 165) 0%, rgb(171, 157, 225) 100%);
	background-image: linear-gradient(rgba(13, 131, 205, 0.5), rgba(0, 0, 0, 0.8)),url(https://i.pinimg.com/originals/26/b8/f1/26b8f1a0d3308bd834ad7152b6062e1a.gif);
	background-repeat: no-repeat;
	background-size: cover; */

}

#form {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 40%;
	background-color: #BFD8AF;
	/* background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(6px); */
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	/* backdrop-filter: blur(10px); */
}

#tabs {
	display: flex;
	justify-content: stretch;
	margin-right: 100px;
	height: 10%;
	width: 100%;
}

button {
	width: 50%;
	font-size: larger;
	font-weight: 700;
	text-align: center;
	border: none;
	outline: none;
	background-color: #E1F0DA;
	transition: 0.2s;
	cursor: pointer;
}

button:first-child{
	border-radius: 15px 0 0 0;
	border-right: 2px solid rgb(172, 168, 168);
}

button:last-child{
	border-radius: 0 15px 0 0;
}

button:hover{
	background-color: #a6b5a0;
}

#contents {
	height: 90%;
	width: 100%;
}

#sign-in-contents {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	/* background-color: red; */
}

#sign-up-contents {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

form>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
}

input {
	width: 70%;
	height: 2.5rem;
	border: none;
	border-bottom: 1px solid black;
	background: none;
	outline: none;
	padding-inline: 15px;
	margin: 20px;
}

input[type=submit]{
	background-color: #E6A4B4;
	color: #fff;
	border: none;
	font-size: large;
	font-weight: 700;
	border-radius: 80px;
	cursor: pointer;
	transition: 0.2s;
}

input[type=submit]:hover{
	background-color: #dc9eae;
}

label {
	position: absolute;
	/* left: 85px; */
	left: 540px;
	font-size: 15px;
	transition: 0.2s;
}

input:focus+label,
input:valid+label {
	margin-bottom: 45px;
	font-size: 12px;
	padding-inline: 5px;
}

h1{
	font-weight: 1000;
}