@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
	font-family: 'Nunito', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;


    /* background: black;
    background-image: linear-gradient(rgb(107 114 128) 0.25px, transparent 0.5px), linear-gradient(90deg, rgb(107 114 128) 0.25px, transparent 0.5px);
    background-size: 30px 30px; */

    background:
    radial-gradient(circle farthest-side at 0% 50%,#000000 23.5%,#0000 0)18.9px 27px,
    radial-gradient(circle farthest-side at 0% 50%,rgba(255, 255, 255, 0.15) 24%,#0000 0)17.1px 27px,
    linear-gradient(#000000 14%,#0000 0, #0000 85%,#000000 0)0 0,
    linear-gradient(150deg,#000000 24%,rgba(255, 255, 255, 0.15) 0,rgba(255, 255, 255, 0.15) 26%,#0000 0,#0000 74%,rgba(255, 255, 255, 0.15) 0,rgba(255, 255, 255, 0.15) 76%,#000000 0)0 0,
    linear-gradient(30deg,#000000 24%,rgba(255, 255, 255, 0.15) 0,rgba(255, 255, 255, 0.15) 26%,#0000 0,#0000 74%,rgba(255, 255, 255, 0.15) 0,rgba(255, 255, 255, 0.15) 76%,#000000 0)0 0,
    linear-gradient(90deg,rgba(255, 255, 255, 0.15) 2%,#000000 0,#000000 98%,rgba(255, 255, 255, 0.15) 0%)0 0 #000000;
    background-size: 36px 54px;
    background-color: #000000;

    box-shadow: inset 0.5em 0.5em 32em 5em #000000;
    /* background: radial-gradient(circle, rgba(247,247,247,0) 0%, rgba(0,0,0,1) 100%); */
    /* background: rgb(247,247,247); */
}

#login,#signup{
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20em;
    width: 25%;
    min-height: 25em;
    height: 60%;
    border-radius: 10px;
    padding: 20px;
}

#signup{
    height: 80%;
    min-height: 35em;
}

form{
    width: 100%;
    height: 100%;
    contain: content;
}

#name,#email,#username,#password,#loginbtn,#signupbtn{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginbtn,#signupbtn{
    align-items: center;
}

h1{
    margin-bottom: 10px;
}

h3{
    color: rgb(107 114 128);
    font-size: 15px;
    margin-bottom: 30px;
}

label{
    margin-left: 4px;
    font-weight: 600;
}

input{
    width: 92%;
    height: 2.5vh;
    margin-left: 4px;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #e5e7eb;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: #fff;
}

input:focus{
    outline: 3px solid #e5e7eb;
    border: 2px solid white;
}

button{
    width: 97%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:focus{
    border: 2px solid white;
    outline: 3px solid black;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.897);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#login > p{
    color: rgb(58, 62, 69);
}