:root{
    --list-background : #E1F0DA;
    --highlight-text : #818189;
    --border-color : #fff;
}

#dashboard-contents{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* color: #281d60;
    color: #37306B; */
    padding: 15px;
    background: transparent;
}

.dashboard-data{
    width: 100%;
    height: 88%;
    display: flex;
}

.chart-totals{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart{
    width: 95%;
    height: 55%;
    margin-top: 10px;
    background-color: var(--list-background);
    border: 2px solid var(--border-color);
    border-radius: 15px;
    padding: 0 20px;
}

.totals{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top: 15px;
}

.income-expense{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.income-expense > div, .totals > .balance{
    height: 5rem;
    width: 40%;
    padding: 15px;
    overflow: hidden;
    background-color: var(--list-background);
    border: 2px solid var(--border-color);
    border-radius: 15px;
}

.income-expense > div > p, .balance > p{
    font-size: 2.5em;
    font-weight: 700;
    color: #686081;
}

.balance > p{
    color: #8cb950;
}

.balance > p > i, .income-expense > div > p > i{
    margin-right: 10px;
}

.totals > .balance{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recent-min-max{
    width: 40%;
    height: 100%;
    padding-left: 25px;
}

.recent-min-max > h2{
    margin-bottom: 15px;
}

.history-list,.min-max-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--list-background);
    border: 2px solid var(--border-color);
    border-radius: 14px;
    height: 2rem;
    padding: 10px;
    margin-block: 10px;
}

.history-list > p{
    font-size: 17px;
}

.min-max{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p{
        font-weight: 700;
    }
}

.min-max-list >p {
    font-size: larger;
    color: var(--highlight-text);
}

#transactions-contents{
    padding-block: 15px;

    .list{
        width: 100%;
        height: 625px;
    }
    .list > ul > li{
        height: 50px;

        .image{
            height: 50px;
            width: 5%;
            font-size: 30px;
        }
        .data{
            height: 80%;
            margin-top: -5px;
        }
        .delete-btn{
            justify-content: flex-end;
            align-items: center;
        }
        .delete-btn > div{
            width: 50%;
        }
    }
}
