:root{
    --list-background : #dbdbdb;
    --income-list-bg : linear-gradient(-150deg,#198642,#49dc7f);
    --expense-list-bg : linear-gradient(-150deg,#a0184f,#d82675);
    --investment-list-bg : linear-gradient(-150deg,#2153da,#5da1f8);
    --highlight-text : #000;
	--placeholder-color : #000000;
    --border-color : #e5e7eb;
    --add-btn : #ec4899;
}

#income-contents,#expense-contents,#investment-contents{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}

.input-list{
    display: flex;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--list-background);
    width: inherit;
    margin: 15px 0;
    padding: 15px 0;
    border-radius: 15px;
    color: #000;
}

.total > h2 > span > i{
    margin-right: 3px;
}

.input{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 30%;
}

.input>input , textarea{
    border: 1px solid var(--border-color);
    outline: none;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #dbdbdb;
    color: #000;
}

.input>input::placeholder,
.input>textarea::placeholder{
    color: var(--placeholder-color);
    
}

textarea{
    resize: none;
    height: 8rem;
}

.input > button{
    background-color: var(--add-btn);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
}

.input > button:hover{
    background-color: #db2777;
}

.list{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 70%;
    height: 480px;
    overflow: auto;
}

.list > ul{
    list-style: none;
}

.list > ul >li{
    width: 99%;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
}

#income-list > li{
    background: var(--income-list-bg);
}

#expense-list > li{
    background: var(--expense-list-bg);
}

#investment-list >li{
    background: var(--investment-list-bg);
}

.image{
    background-color: none;
    border-radius: 15px;
    height: 90px;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.data{
    width: 80%;
    height: 90px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    align-items: center;
}

/* .dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
} */

.heading > p{
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
}

.info{
    display: flex;
    padding: 10px 0;
}

.info > p{
    margin-right: 30px;
}

.info > p >i{
    margin-right: 8px;
}

.message > p > i{
    margin-right: 8px;
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10%;
    height: 90px;
    border-radius: 15px;
}

.delete-btn > div{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 70%;
    background-color: none;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
}

.delete-btn > div:hover{
    background-color: rgba(255, 255, 255, 0.233);
}