:root{
    --list-background : #E1F0DA;
    --highlight-text : #818189;
	--placeholder-color : #0F2167;
    --border-color : #fff;
    --add-btn : #E6A4B4;
}

#income-contents,#expense-contents{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}

.input-list{
    display: flex;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--list-background);
    width: inherit;
    margin: 15px 0;
    padding: 15px 0;
    border-radius: 15px;
}

.total > h2 > span > i{
    margin-right: 3px;
}

.input{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 30%;
}

.input>input , textarea{
    background: none;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.input>input::placeholder,
.input>textarea::placeholder{
    color: var(--placeholder-color);
}

textarea{
    resize: none;
    height: 8rem;
}

.input > button{
    background-color: var(--add-btn);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 40%;
    border-radius: 80px;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}

.input > button:hover{
    background-color: #99BC85;
}

.list{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 70%;
    height: 480px;
    overflow: auto;
}

.list > ul{
    list-style: none;
}

.list > ul >li{
    width: 95%;
    height: 100px;
    margin-bottom: 15px;
    background-color: var(--list-background);
    border-radius: 15px;
    border: 2px solid var(--border-color);
    padding: 15px;
    display: flex;
    align-items: center;
}

.image{
    background-color: var(--list-background);
    border: 2px solid var(--border-color);
    border-radius: 15px;
    height: 90px;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.data{
    width: 80%;
    height: 90px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    align-items: center;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.heading > p{
    text-align: center;
    font-weight: 800;
}

.info{
    display: flex;
    padding: 10px 0;
}

.info > p{
    margin-right: 30px;
}

.info > p >i{
    margin-right: 8px;
}

.message > p > i{
    margin-right: 8px;
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 10%;
    height: 90px;
    border-radius: 15px;
}

.delete-btn > div{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 70%;
    background-color: #0F2167;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
}

.delete-btn > div:hover{
    background-color: rgba(15, 33, 103, 0.922);
}