@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

body{
	height: 100vh;
	background-color: aqua;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
}

.tabs{
	background-color: #f6ebee;
	border-radius: 20px;
	border: 2px solid #ffffff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 20px 15px;
	height: 89.2vh;
	width: 15%;	
}

.border{
	display: inline-block;
	width: 5px;
	height: 30px;
	border-radius: 10px;
}

.icon-text{
	background-color: none	;
	display: flex;
	align-items: center;
	height: 30px;
	align-items: center;
	text-align: center;
}

.icon{
	margin-right: 0.5rem;
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs > .btn:last-child{
	margin-top: auto;
}

.navigation{
	cursor: pointer;
	display: inline-block;
	background: none;
	text-align: center;
	border: none;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 0.15rem 1rem;
	font-size: 15px;
	width: 100%;
	color: rgba(46, 32, 82, 0.565);
	text-align: start;
}

.contents{
	background-color: #f6ebee;
	border-radius: 20px;
	border: 2px solid #ffffff;
	height: 95vh;
	width: 80%;
}

.contents > div{
	display: none;
}

#dashboard-contents{
	display: flex;
}