@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

:root{
	--text-color : #0F2167;
	--background : #BFD8AF;
	--body : #FFB0B0;
    --highlight-text : #818189;
	--border-color : #fff;
	--orb : #e5f1e3;
}

.nactive{
	display: none;
}

body{
	height: 100vh;
	background-color: var(--body);
	color: var(--text-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	background: rgb(2,0,36);
	background: linear-gradient(194deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 99%, rgba(0,212,255,1) 100%);
	/* animation: orb-animation 10s linear infinite; */
}

.orb{
	/* top: -100px; */
	visibility: hidden;
	position: fixed;
	aspect-ratio: 1/1;
	width: 100%;
	border-radius: 50%;
	/* background: radial-gradient(var(--orb),var(--body)); */
	z-index: -100;
	background: rgb(2,0,36);
	background: linear-gradient(194deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 99%, rgba(0,212,255,1) 100%);
	transform-origin: bottom;
	animation: orb-animation 10s linear infinite;
}

.tabs{
	background: transparent;
	background-color: #d7c1a4;
	border-radius: 20px;
	border: 2px solid var(--border-color);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 20px 15px;
	height: 89.2vh;
	width: 15%;
}

.profile{
	height: 60px;
	width: 100%;
	margin: 30px 0 20px 0;
	display: flex;
	align-items: center;
}

.profile-img{
	aspect-ratio: 1/1;
	width: 50px;
	background-color: #ffffff;
	border: 5px solid var(--border-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;

	i{
		font-size: 40px;
	}
}

.username{
	margin-left: 7px;

	p{
		margin-top: -8px;
		font-size: 15px;
		font-weight: 700;
		color: var(--highlight-text);
	}
}

.border{
	display: inline-block;
	width: 5px;
	height: 30px;
	border-radius: 10px;
}

.icon-text{
	background-color: none	;
	display: flex;
	align-items: center;
	height: 30px;
	align-items: center;
	text-align: center;
}

.icon{
	margin-right: 0.5rem;
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs > .btn:last-child{
	margin-top: auto;
}

.navigation{
	cursor: pointer;
	display: inline-block;
	background: none;
	text-align: center;
	border: none;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 0.15rem 1rem;
	font-size: 15px;
	width: 100%;
	color: rgba(15, 33, 103, 0.562);
	text-align: start;
}

.contents{
	background-color: var(--background);
	border-radius: 20px;
	border: 2px solid var(--border-color);
	height: 95vh;
	width: 80%;
	overflow: hidden;
}

.contents > div{
	display: none;
}

@keyframes orb-animation {
	0%,100%{
		background: rgb(2,0,36);
		background: linear-gradient(194deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(0,212,255,1) 100%);
	}
	50%{
		background: rgb(2,0,36);
		background: linear-gradient(194deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 99%, rgba(0,212,255,1) 100%);
	}
}